<div class='page-header'>
  <h1><%= @location.title %></h1>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <h4>Description</h4>
    <p><%= @location.description %></p>

    <h4>Address</h4>
    <p><%= @location.address %></p>
  </div>
</div>

<div class='well'>
  <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-primary' %> |
  <%= link_to 'Back', locations_path %>
</div>
